<legend>
    Choose Your Level & Language</legend>
<a routerLink="/home" class="home-logo-wrap"><span class="home-logo">Lang</span><span class="logo">@</span><span class="home-logo">Uni</span></a>
<div *ngIf="levels"></div>
<div class="container" *ngFor="let level of levels">
    <div class="profile">
        <h3>{{level.language}}</h3>
        <div class="flex">
            <p>{{level.text}}</p>
        </div>
        <div>
            <h4>Explore the world with our lessons</h4>
        </div>
        <div>
            <p>{{level.starts}}</p>
        </div>
        <button class="button"><span>SELECT </span></button>
        <p>{{level.sessions}}</p>
        <p>3 individual sessions</p>
        <p>Online resources</p>
        <p>Weekly newsletter</p>
    </div>
</div>