@import url('https://use.fontawesome.com/releases/v5.12.1/css/all.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
.action {
    display: inline-block;
    background-color: rgb(180, 147, 168);
    padding: 20px 20px;
    text-decoration: none;
    color: black;
}

.action:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
}

div {
    box-sizing: border-box;
    display: block;
}

.courses {
    margin-top: 50px;
}

.courses {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.course-title {
    flex-basis: 100%;
}

.course {
    flex-basis: 18%;
    position: relative;
    height: 300px;
    margin: 20px 0;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px 2px lightgrey;
}

.course:hover {
    cursor: pointer;
}

.course img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transform-origin: 0 0;
    transition: all .5s ease;
    filter: brightness(70%),
}

.course:hover img {
    transform: scale(1.1);
    filter: brightness(100%)
}

.course-name {
    position: absolute;
    bottom: -10px;
    left: 20px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    z-index: 1;
}