<app-header></app-header>
<main>
    <section>
        <div>
            <div class="container home">
                <div>
                    <p class="lead">Study while others are sleeping,</p>
                    <p class="lead">Work while others are loafing,</p>
                    <p class="lead">Prepare while others are playing</p>
                    <p class="lead">And</p>
                    <p class="lead">You will enjoy while others are</p>
                    <p class="lead">regretting</p>
                </div>
            </div>
        </div>
    </section>
    <app-home-courses></app-home-courses>
</main>
<app-footer></app-footer>